<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="vshow" version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <!-- 起始欢迎界面 -->
    <!--<welcome-file-list>
        <welcome-file>/view/index.jsp</welcome-file>
    </welcome-file-list>-->

    <!-- Spring字符集过滤器 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 初始化 Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- 读取spring配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
        </param-value>
    </context-param>

    <!-- 初始化 Spring MVC -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <description>Spring MVC配置文件</description>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvcContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
        <!-- /*的话springMVC会把*.jsp,*.sql,*.txt都当做txt处理。结果就是直接在浏览器显示了源码。 -->
    </servlet-mapping>

    <!-- 错误跳转页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/errorpage/error-404.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/errorpage/error-400.jsp</location>
    </error-page>

</web-app>